.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(221, 65, 65);
  border-radius: 5px;
}

.notification {
  color: rgba(255, 255, 255, 0.9);
  font-size: 20px;
  display: flex;
  min-height: 30px;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}

.btn_close {
  margin-right: 8px;
}
